{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-row mx-5 flex-wrap ">
            {% for order in orders %}
                <div class="card m-3 " style="width: 18rem;">
                    <img src="{{order.product.image.url}}" class="card-img-top" >
                    <div class="card-body">
                        <h5 class="card-title">{{order.product.name}}</h5>
                        <p class="card-text">{{order.product.price}}</p>
                        <a href="{% url 'product-detail' order.product.id %}" class="m-1 btn btn-primary">Product Details</a>
                        <a href="{% url 'order-detail' order.id %}" class="m-1 btn btn-primary">Order Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}